.net-ease-Tabs {
    .ant-tabs-nav .ant-tabs-tab:hover {
        color: #c62f2f;
    }

    .ant-tabs-tab-active {
        color: #c62f2f;
    }

    .ant-tabs-ink-bar {
        background-color: #c62f2f;
    }

    .song-list-table-search {
        width: 200px;
        margin-right: 20px;

        input {
            border-radius: 16px
        }
    }

    .commentTextArea {
        background: rgb(240, 240, 242);
        padding: 15px;
        margin-bottom: 30px;

        .comment-operator {
            margin-top: 15px;
            text-align: right;
        }
    }

    .commentsChunck {
        display: flex;
        padding: 20px 2px;
        border-bottom: 1px solid rgb(232,232,232);
    }
    .comments{
        margin-top: 100px;
    }
}